<h2>Self-assessment rubric</h2>
<ol>
  <li>Never heard of it</li>
  <li>Can identify it when I see it</li>
  <li>Can make a new one</li>
  <li>Can refactor and re-organize</li>
  <li>Can teach others</li>
</ol>

<hr/>

<small>This is an example self-assessment.</small>

<hr/>
<h3>Specifics</h3>
<div ng-repeat="person in team">
  <div ng-repeat="assessment in person.assessments">
    <h4>{{assessment.category}}</h4>
    <canvas spider-chart
      assessment="assessment"
      width="400" height="400">
    </canvas>
  </div>
</div>
