<h2>Self-assessment rubric</h2>
<ol>
  <li>Never heard of it</li>
  <li>Can identify it when I see it</li>
  <li>Can make a new one</li>
  <li>Can refactor and re-organize</li>
  <li>Can teach others</li>
</ol>

<hr/>

<label>Select a team</label>
<select ng-options="team.name for team in teams" ng-model="selectedTeam" class="form-control"></select>

<hr/>

<div ng-if="selectedTeam" >
  <h2 class="row">{{selectedTeam.name}} Team</h2>
  <div ng-repeat="member in selectedTeam.members" class="row">
      <self-assessment person="member"></self-assessment>
  </div>
</div>
